APP_NAME=TablesPro
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:4000
WEB_ORIGIN=http://localhost:3000
AUTH_SIGNUP_ENABLED=true

LOG_CHANNEL=stderr
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=tablespro
DB_USERNAME=tablespro
DB_PASSWORD=tablespro

SESSION_DRIVER=database
SESSION_CONNECTION=pgsql
SESSION_TABLE=laravel_sessions
SESSION_LIFETIME=20160
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=false
SANCTUM_STATEFUL_DOMAINS=localhost:3000,127.0.0.1:3000
EXPORT_DIRECTORY=
WORKER_ID=
