/.env
/.env.backup
/.env.production
/auth.json
/vendor/
/node_modules/
/bootstrap/cache/*.php
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/app/exports/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/pail/
/.phpactor.json
/.phpunit.cache/
/.phpunit.result.cache
